body {
    background-color: rgb(17, 154, 233);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

select#flista {
    width: 250px;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 18px;
}

div {
    padding: 8px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#res p {
    margin-bottom: 18px;
}

#finalizar {
    margin-top: 10px;
    margin-bottom: 0px;
}